.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.Left__userName
        ユーザー名
      %ul.LeftHeader__IconList
        %li.LeftHeader__icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'cog')

.Grouplist
  .Group
    = link_to '#' do
      .Group__name
        グループ名
      .Group__message
        最新のメッセージ  